{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {% include 'core/partials/_head.html' %}
</head>
<body>
<!-- Index.html -->
    <div class={{header}}>
        <div class="container">
            {% include 'core/partials/_header.html' %}
    <!-- -------------------------------------------------------------- -->
            {% block content1 %}
                <!-- contains Landing view -->
            {% endblock content1 %}
    <!-- -------------------------------------------------------------- -->
        </div>        
    </div>

    <!-- -------------------------------------------------------------- -->
            {% block content2 %}
                <!-- contains Featured categories -->
            {% endblock content2 %}
    <!-- -------------------------------------------------------------- -->
            {% block content3 %}
                <!-- contains Featured products -->
            {% endblock content3 %}
    <!-- -------------------------------------------------------------- -->
            {% block content4 %}
                <!-- contains Latest products -->
            {% endblock content4 %}
    <!-- -------------------------------------------------------------- -->
            {% block content5 %}
                <!-- contains Offers -->
            {% endblock content5 %}
    <!-- -------------------------------------------------------------- -->
            {% block content6 %}
                <!-- contains Testimonials -->
            {% endblock content6 %}
    <!-- -------------------------------------------------------------- -->
            {% block content7 %}
                <!-- contains Testimonials -->
            {% endblock content7 %}
    <!-- -------------------------------------------------------------- -->

<!-- products.html -->
    <!-- -------------------------------------------------------------- -->
            {% block content8 %}
                <!-- contains Products -->
            {% endblock content8 %}
    <!-- -------------------------------------------------------------- -->

<!-- product_details.html -->
    <!-- -------------------------------------------------------------- -->
            {% block content9 %}
                <!-- contains Product -->
            {% endblock content9 %}
    <!-- -------------------------------------------------------------- -->

<!-- cart.html -->
    <!-- -------------------------------------------------------------- -->
            {% block content10 %}
                <!-- contains Cart contents -->
            {% endblock content10 %}
    <!-- -------------------------------------------------------------- -->

<!-- account.html -->
    <!-- -------------------------------------------------------------- -->
            {% block content11 %}
                <!-- contains Account details -->
            {% endblock content11 %}
    <!-- -------------------------------------------------------------- -->

    {% include 'core/partials/_footer.html' %}
    
    <script src="{% static 'js/base.js' %}"></script> 
</body>
</html>