{% load static %}

    <div class="navbar">
        <div class="logo">
            <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" width="125px"></a>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'products' %}">Products</a></li>
                <li><a target="_blank" href="https://github.com/isaacenobun/">About</a></li>
                <li><a target="_blank" href="https://github.com/isaacenobun/">Contact</a></li>
                <li><a href="{% url 'account' %}">Account</a></li>
            </ul>
        </nav>
        <a href="{% url 'cart' %}"><img src="{% static 'images/cart.png' %}" width="25px"></a>
        <!-- <img src="{% static 'images/menu.png' %}" class="menu-icon"> -->
        <a href="{% url 'cart' %}"><p id="cartNo">0</p></a>
        {% if logged_in %}
            <a href="{% url 'logout' %}">Log out</a>
        {% endif %}
    </div>